# tensorflow-cpu==2.19.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
matplotlib==3.9.4
uvicorn==0.34.2
fastapi==0.115.12
numpy==2.0.2
requests==2.32.3
python-multipart==0.0.20
plotly==5.14.1